*{
    background-color: gray;
}
html,body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Verdana, Arial, sans-serif;
    font-size: 62.5%;
}

#strona{
    width: 90%;
    border: solid 3px black;
    margin: 100px auto 0 auto;
}


/*Układ strony*/

header{
    height: 150px;
    background: orangered;
}

footer{
    height: 20px;
    background: orangered;
}

nav.left{
    float: left;
    width: 20%;
    background: orange;
    /*margin: 5px;*/
    padding: 0.2% 1.5% 0.2% 1.5%;

}
article{
    float: left;
    width: 50%;
    background: #ffa99d;
}
aside{
    float: right;
    width: 27%;
    background: #9c5bff;
}

.enter{
    clear: both;
}

@media screen and (min-width: 480px) and (max-width: 600px){
    aside{display:none;}
    article{width:72%}
}

/*navigacja*/
nav.left ul{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
}
nav.left ul a{
    display: block;
    border: 1px solid red;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    color: #0100ff;
    background: #ff8cdb url("img/nav.png") no-repeat;
    background-position: 0 2px;
    padding: 5px 0px 5px 10px;

}
nav.left ul a:hover{
    color: #276fff;
    background: #f9ff32 url("img/nav.png") no-repeat;
    background-position: 3px 50%;
}



nav.top{
    float: left;
    width: 100%;
}
nav.top ul{
    float: ;
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    display: block;
}
nav.top ul a{
    display: block;
    border: 1px solid red;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    color: #0100ff;
    background: #ff8cdb url("img/nav.png") no-repeat;
    background-position: 0 2px;
    padding: 5px 0px 5px 10px;

}
nav.top li{
    float: left;
}
nav.top ul a:hover{
    color: #276fff;
    background: #f9ff32 url("img/nav.png") no-repeat;
    background-position: 3px 50%;
}