html{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #f9ff32;
}
article{
    color: #0100ff;
    background-color: #caff8e;
    width: 80%;
    border: 3px solid rgb(157, 17, 73);
    margin: 30px auto 0 auto;
    padding: 15px;

    -moz-box-shadow:inset -6px -2px 75px #000000;
    -webkit-box-shadow:inset -6px -2px 75px #000000;
    box-shadow:inset -6px -2px 75px #000000;
}
h1{
    font-size: 2.75em;
    font-family: Georgia, 'Times New Roman', Serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3678ff;
    background: transparent;
}

h2{
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: #ff313d;
    border-top: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

aside{
    float: right;
    width: 30%;
    border: 7px solid rgb(123, 2, 157);
    border-radius: 25px;
    margin: 30px auto 20px auto;
    padding: 15px;
    background: #baff7e;

    -moz-box-shadow: -6px -2px 24px #000000;
    -webkit-box-shadow: -6px -2px 24px #000000;
    box-shadow: -6px -2px 24px #000000;
}
aside h2{
    border-top: none;

}